
body
{
  background-color: #FFFFFF;
  font-family: verdana, Helvetica, sans-serif;
}

img
{
    border: 0px solid blue;
}

a
{
color : #33ccff;
}

a:link
{
color : #33ccff;
}

a:visited
{
color : #33ccff;
}

a:hover
{
color : #33ccff;
}

h1, h2, h3, h4, h5
{
  color: #33ccff;
  /* color: #c0d15e; */
}
#contentwrapper
{
  width: 820px;
  margin: 20px auto 20px auto;
}

#addentryform
{ 
  overflow: hidden;
}

#roominfo
{  
  width: 250px;
  float: left;
}

#timeinfo
{  
  margin-left: 70px;
  width: 200px;
  float: left;
}

#formsubmit
{ 
  width: 100px;
  float: left;
  margin: 40px auto 10px 70px;
}

.header
{
  width: 40em;
  margin: 20px auto 20px auto;
}

label
{
  color: #33ccff;
}

.header h1
{
  color: #33ccff;
}

table
{
  width: 100%;
}

table th
{
  font-weight: bold;
  border-style: none none solid none;
  border-color: #33ccff;
  color: #33ccff;
  text-align: left;
}

table.formtable tbody
{
    background-color: #f2f5f7;
}

tbody
{
  background-color: #ffffff;
}

.alternaterow
{
   background-color: #ddecff;
}


/* For the rounded boxes */

.boxtop
{
    background: url(../images/boximages/boxtop.png) repeat-x;
}

.boxtl
{
    width: 14px;
    background: url(../images/boximages/tl.png) no-repeat top left;
}

.boxtr
{
    width: 14px;
    background: url(../images/boximages/tr.png) no-repeat top right;
}

.boxcontentwrap
{
    background: url(../images/boximages/boxleft.png) repeat-y;
}

.boxcontent
{
    background: url(../images/boximages/boxright.png) repeat-y right;
    min-height: 230px;
    padding: 1px 20px 10px 20px;
}



.boxbottom
{
    background: url(../images/boximages/boxbottom.png) repeat-x;
}

.boxbl
{
    width: 14px;
    background: url(../images/boximages/bl.png) no-repeat top left;
}

.boxbr
{
    width: 14px;
    background: url(../images/boximages/br.png) no-repeat top right;
}

.boxtop, .boxtl, .boxtr, .boxbl, .boxbr, .boxbottom
{
    width : 100%;
    height: 14px;
    font-size: 1px;
}








